#
# .swiftformat
# Created by Felix Mau (https://felix.hamburg)
#

#
# Configuration file for SwiftFormat (https://github.com/nicklockwood/SwiftFormat/)
#
# A more detailed documentation of the rules can be found at
# https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md
#

#
# File options
#
--exclude "Example/Pods/"

#
# Rules
#
--disable andOperator
--disable sortedImports
--disable trailingCommas
--disable wrapMultilineStatementBraces

#
# Rule Configuration
#
--wraparguments "after-first"
--wrapcollections "before-first"